{% extends 'index/base.html' %}
{% load static %}

{% block content %}
  <div class="relative w-full aspect-[2/1] bg-[url('/static/bg-painting.jpg')] bg-center bg-cover">
    <div class="absolute inset-0 bg-black opacity-50 z-0"></div>

    <div class="flex flex-col justify-around items-center w-full h-full z-10">
      <div class="text-center">
      <p class="relative text-white text-5xl opacity-75 pt-10">Welcome to My Personal Blog</p>
      <p class="relative text-white text-5xl opacity-75 pt-4">This is a collection of my learning projects:</p>
      </div>
      <ul>
        <li>
          <a href="#" class="link relative text-white text-5xl opacity-75">Shopping Website</a>
        </li>
        <li>
          <a href="#" class="link relative text-white text-5xl opacity-75">Calendar Booking</a>
        </li>
      </ul>
      <div>
      </div>
    </div>
  </div>
{% endblock %}
